{% extends 'main.html' %}

{% load static %}

{% block titulo %}
  Página inicial
{% endblock %}

{% block conteudo %}

<div class="row mx-8" style="margin-top: 40px;">
    <div class="col-lg-6 my-auto">
      <h1 class="display-1 text-bolder text-gradient text-danger">Error 404</h1>
      <h2>Erm. Page not found</h2>
      <p class="lead">Um dia falaremos sobre nos, mas enquanto não fazemos isso pode acessar nossos produtos ou falar com a gente </p>
      <a href="/" class="btn btn-sm mb-4 bg-gradient-primary  btn-round mb-0 me-1" onclick="smoothToPricing('pricing-soft-ui')">Go to Homepage</a>
    </div>
    <div class="col-lg-6 my-auto position-relative">
      <img class="w-100 position-relative" src="{% static 'img/illustrations/error-404.png' %}" alt="404-error">
    </div>
  </div>

{% endblock %}