{% extends 'main.html' %}

{% load static %}

{% block titulo %}
  Página inicial
{% endblock %}

{% block conteudo %}
<div class="row" style="margin-top: 40px;">
    <div class="container-fluid my-3 py-3 col-lg-8 col-12">
      <div class="row">
        <div class="col-lg-12 col-lg-8">
          <div class="card">
            <div class="card-header d-flex align-items-center border-bottom py-3">
              <div class="d-flex align-items-center">
                <div class="mx-3">
                  <a href="javascript:;" class="text-dark font-weight mb-0 mt-2 up text-center"><h2>🌟 Automação Personalizada 🌟 <br> Soluções Sob Medida para o Seu Negócio!</h2></a>
                  <!-- <small class="d-block text-muted">3 days ago</small> -->
                </div>
              </div>
             
            </div>
            <div class="card-body">
              <p class="mb-4">
                Você está pronto para levar a automação de processos ao próximo nível? No Desenvolvimento Personalizado de Soluções de Automação, oferecemos serviços especializados para impulsionar a eficiência e a produtividade de sua empresa.

                <br><br>Nossa equipe de especialistas está pronta para entender suas necessidades exclusivas e criar soluções sob medida que se integram perfeitamente aos seus processos existentes. Combinamos tecnologias avançadas, como machine learning, blockchain e sistemas multiagentes BDI, para fornecer resultados excepcionais.

                <br><br>💡 Nossos serviços abrangem:

                <br><br>✅ Consultoria Especializada: Nossa equipe trabalha em estreita colaboração com você para entender suas metas e desafios específicos. Identificamos oportunidades de automação, mapeamos seus fluxos de trabalho e desenvolvemos estratégias personalizadas para otimizar seus processos.

                <br><br>✅ Desenvolvimento Personalizado: Criamos soluções de automação adaptadas às suas necessidades. Utilizando nossa expertise em machine learning, blockchain e sistemas multiagentes BDI, desenvolvemos aplicativos e sistemas que automatizam tarefas complexas, aumentam a eficiência operacional e reduzem os erros humanos.

                <br><br>✅ Integração Perfeita: Garantimos a perfeita integração das soluções de automação em seus sistemas existentes. Trabalhamos com as tecnologias mais recentes para garantir que a transição seja suave, sem interrupções em suas operações diárias.

                <br><br>✅ Suporte Contínuo: Nossa parceria não termina com a implementação. Oferecemos suporte técnico contínuo para garantir que suas soluções de automação funcionem de forma confiável e eficiente. Estamos sempre prontos para ajudar e fornecer atualizações e aprimoramentos conforme necessário.

                <br><br>🚀 Não perca tempo com tarefas repetitivas e demoradas! Aproveite os benefícios da automação personalizada e libere o potencial máximo de sua equipe para se concentrar em atividades estratégicas e de alto valor agregado.

                <br><br>💼 Seja qual for o seu setor ou tamanho de negócio, nossa equipe de especialistas tem o conhecimento e a experiência necessários para impulsionar sua empresa rumo ao sucesso.

                <br><br>📞 Entre em contato conosco hoje mesmo e descubra como a automação personalizada pode transformar seus processos e impulsionar seu crescimento!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card position-sticky top-1">
        <div class="col-lg-12 col-12">
          <div class="card card-background card-background-mask-info h-100 tilt" data-tilt="" style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
            <div class="full-background" style="background-image: url('{% static 'img/curved-images/white-curved.jpeg' %})"></div>
            <div class="card-body pt-4 text-center"  style="margin-top: 60px;">
              <a href="/index#contact" class="btn btn-sm mb-4 bg-gradient-primary  btn-round mb-0 me-1" onclick="smoothToPricing('pricing-soft-ui')">Contact</a>
              <div class="col-lg-12 text-center" style="">
                <a href="https://api.whatsapp.com/send?1=pt_BR&phone=554891726681" target="_blank" class="text-success me-xl-4 me-4">
                  <span class="text-lg fab fa-whatsapp"></span>
                </a>
                <a href="https://www.instagram.com/analytic_corp/" target="_blank" class="text-success me-xl-4 me-4">
                  <span class="text-lg fab fa-twitter"></span>
                </a>
                <a href="https://www.instagram.com/analytic_corp/" target="_blank" class="text-success me-xl-4 me-4">
                  <span class="text-lg fab fa-instagram"></span>
                </a>
                <a href="https://www.instagram.com/analytic_corp/" target="_blank" class="text-success me-xl-4 me-4">
                  <span class="text-lg fab fa-pinterest"></span>
                </a>
                <a href="https://github.com/AnalytiCorp" target="_blank" class="text-success me-xl-4 me-4">
                  <span class="text-lg fab fa-github"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="row">
    <div class="card-group" style="margin-top: 40px;">

      <div class="col-lg-4 mb-4">
        <div class="card mx-1">
          <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
            <a href="/analyze" class="d-block">
              <img src="{% static 'img/home-decor-1.jpg' %}" class="img-fluid border-radius-lg">
            </a>
          </div>

          <div class="card-body pt-2">
            <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">House</span>
            <a href="/analyze" class="card-title h5 d-block text-darker">
              Consultoria em estratégia de negócios e automação
            </a>
            <p class="card-description mb-4">
              Aprimore sua estratégia de negócios e conquiste o sucesso com nossa Consultoria em Estratégia de Negócios. Nossa equipe de especialistas oferece insights estratégicos personalizados, orientação especializada e soluções sob medida para enfrentar os desafios do seu setor. Transforme obstáculos em oportunidades brilhantes e alcance novos patamares de crescimento. Entre em contato conosco hoje mesmo!
            </p>

            <a href="/analyze" class="btn btn-icon bg-gradient-primary d-lg-block mt-3 mb-0">
              Saiba Mais
              <i class="fas fa-arrow-right ms-1" aria-hidden="true"></i>
            </a>
          </div>

          
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card mx-1">
          <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
            <a href="/automation" class="d-block">
              <img src="{% static 'img/home-decor-1.jpg' %}" class="img-fluid border-radius-lg">
            </a>
          </div>

          <div class="card-body pt-2">
            <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">House</span>
            <a href="/automation" class="card-title h5 d-block text-darker">
              Desenvolvimento personalizado de soluções de automação
            </a>
            <p class="card-description mb-4">
              Automatize e otimize seus processos de negócios com nossa expertise em Desenvolvimento Personalizado de Soluções de Automação. Utilizando tecnologias de ponta, como machine learning, blockchain e sistemas multiagentes BDI, criamos soluções sob medida para impulsionar sua eficiência e produtividade. Libere o potencial do seu negócio com automação inteligente. Contate-nos agora mesmo!
            </p>

            <a href="/automation" class="btn btn-icon bg-gradient-primary d-lg-block mt-3 mb-0">
              Saiba Mais
              <i class="fas fa-arrow-right ms-1" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card mx-1">
          <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
            <a href="/security" class="d-block">
              <img src="{% static 'img/home-decor-1.jpg' %}" class="img-fluid border-radius-lg">
            </a>
          </div>

          <div class="card-body pt-2">
            <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">House</span>
            <a href="/security" class="card-title h5 d-block text-darker">
              Criação de modelos preditivos personalizados
            </a>
            <p class="card-description mb-4">
              Descubra o poder dos dados com nossos Modelos Preditivos Personalizados. Utilizando técnicas avançadas de machine learning, desenvolvemos modelos sob medida. Preveja tendências, comportamentos do cliente e tome decisões embasadas em dados sólidos. Desbloqueie insights valiosos e conquiste uma vantagem competitiva. Entre em contato conosco e abrace o futuro dos negócios!
            </p>

            <a href="/security" class="btn btn-icon bg-gradient-primary d-lg-block mt-3 mb-0">
              Saiba Mais
              <i class="fas fa-arrow-right ms-1" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}